* {
  margin: 0;
  padding: 0;
}
body {
  background: #f5c2c7;
  color: #333;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
hr {
  border: 2px;
}
.test-text {
  border: 2px solid silver;
}
.test-text .sp1 {
  font-weight: bold;
}
.test-text .sp2 {
  color: rebeccapurple;
}
